.navbar {
  display: flex;
  padding: 0 9em;
  align-items: center;
  background-color: #fff;
  height: 65px;
}

.navbar-heading {
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--azure);
}

.navbar-cats {
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
  text-transform: uppercase;
  margin-left: 3.5em;
}

.user-icon {
  width: 40px;
  height: 40px;
  padding: 14px;
  border: solid 1px #e8e8e8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10%;
}

img {
  width: 30px;
  height: 30px;
}
